{% extends 'base.html' %}

{% block title %} {{article.art_title}} {% endblock %}

{% block content %} 
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <div class="article">
                    <h2> {{article.art_title}} </h2>
                    <p>{{article.art_text}}</p>
                    <div class="date">
                        <em>{{article.pub_date}}</em>
                        {%if article.was_published_recently%}
                            New Article!
                        {%endif%}
                    </div>
                </div>
                <hr>
            
                {% if latest_comments_list %}
                    {%for c in latest_comments_list%}
                    <p>
                        <strong>{{c.author_name}}</strong>
                        <p>{{c.comment_text}}</p>
                    </p>
                    {%endfor%}
                {%else%}
                No comments found...
                {%endif%}
            
                <hr>
                <form action="{% url 'medcentreApp:leave_comment' article.id %}" method="POST">
                    {% csrf_token %}
                    <input type="text" required="" placeholder="Your Name" name="name"><br>
                    <textarea name="text" required="" placeholder="Text of your comment" cols="30" rows="10"></textarea><br>
                    <button type="submit">Leave comment</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}